/* src/styles/Discover.css */
.discover {
  width: flex;
  max-width: 1200px;
  align-items: center;
  text-align: center;
  margin: 20px;
}

h1 {
  text-align: center;
  color: #674188;
  margin-bottom: 20px;
}

.courses {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  width: flex;
  height: auto;
}

/* .course-card {
  background-color: #FFF7D0;
  padding: 40px;
  border-radius: 8px;
  margin-left: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: 1 1 30%;
  min-width: 200px;
} */

.cards-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  height: 200px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e2bfd9;
  padding: 20px;
  border-radius: 10px;
  width: 250px; /* Fixed width */
  text-align: center;
  color: #674188;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  border: none;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card h2 {
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  color: #555;
}

.icon {
  font-size: 5rem;
  color: #674188;
  margin-bottom: 10px;
}


/* Remove fixed height */
.card {
  height: auto; /* Automatically adjust height */
}
