/* src/styles/Discover.css */
.discover {
  width: 100%;
  max-width: 1200px;
}

.courses {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.course-card {
  background-color: #FFF7D0;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: 1 1 30%;
  min-width: 200px;
}
