/* Remove any default margin for body */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.welcomeBanner {
  background-color: #E2BFD9; 
  height: 300px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.welcomeText h2 {
  font-size: 2.5rem;
  color: #5b268a;
  margin-left: 50px;
}

.welcomeText p {
  font-size: 1.2rem;
  color: #674188;
  margin-top: 10px;
  margin-left: 50px;
}

.bannerImage {
  width: 200px; /* Adjust image size as needed */
  height: auto;
  border-radius: 8px;
  height: 250px;
  width:350px;
  margin-right: 50px;
  object-fit: cover;
}

.home {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.sectionTitle {
  font-size: 2rem;
  color: #333;
  text-align: left;
  margin: 40px 0 20px;
}

.categories {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 40px;
}

.category-card {
  background-color: #F7EFE5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: 1;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category-card:hover {
  background-color: #fcebf9;
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.category-card span {
  font-size: 2rem;
}

.category-card h3 {
  font-size: 1.5rem;
  color: #333;
  margin: 10px 0 5px;
}

.category-card p {
  font-size: 1rem;
  color: #666;
}

.projects{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.project-card {
  background-color: rgb(237, 220, 220);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex: 1;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  background-color:#fcebf9 ;
}

.project-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.project-card h3 {
  font-size: 1.2rem;
  color: #333;
}
