/* src/pages/SwipeProject.css */
.swipe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 105vh;
  width: 105vw;
  background-color: #F7EFE5;
  color: #674188;
  padding: 1px;
}

.swipe-header {
  text-align: center;
  margin-bottom: 5px;
}

.swipe-header h1 {
  color: #674188;
  font-size: 2rem;
  margin-bottom: 5px;
}

.swipe-header p {
  font-size: 1rem;
  color: #674188;
}
.end-card{
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 200px;
  background: #fff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  transition: transform 0.4s ease-in-out;
}

.card{
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 465px;
  background: #fff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  transition: transform 0.4s ease-in-out;
}

.project-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card-content {
  text-align: center;
  width: 100%;
}

.card-content h2 {
  font-size: 1.3rem;
  color: #674188;
  margin-bottom: 5px;
}

.card-content p {
  color: #555;
  font-size: 1rem;
}

.details p {
  margin: 5px 0;
  font-size: 0.75rem;
  color: #674188;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 0px;
}

.swipe-btn {
  font-size: 1.5rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.swipe-btn.left {
  background-color: #ff6b6b;
}

.swipe-btn.right {
  background-color: #4aae4d;
}

.end-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #E2BFD9;
  color: #674188;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.saved-icon {
  font-size: 2.5rem;
  color: #674188;
  position: absolute;
  top: 100px;
  right: 50px;
  cursor: pointer;
}


.end-card h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.end-card p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.explore-btn {
  font-size: 1rem;
  padding: 10px 20px;
  color: #fff;
  background-color: #674188;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.explore-btn:hover {
  background-color: #C8A1E0;
}

/* Swipe Animations */
.swipe-left {
  animation: swipe-left 0.5s forwards;
}

.swipe-right {
  animation: swipe-right 0.5s forwards;
}

@keyframes swipe-left {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100vw);
    opacity: 0;
  }
}

@keyframes swipe-right {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(100vw);
    opacity: 0;
  }
}

